.venv/
venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
raw_dataset/*
*.zip
outputs/
EDA/*
Notebook/outputs/*
!Notebook/outputs/submission.csv
!Notebook/outputs/features_df.csv
!Notebook/outputs/scoring_thresholds.pkl
Notebook/outputs/faiss_index.bin
Notebook/outputs/candidate_embeddings.npy